<html>
<head>
<title>QA Debugger Portal</title>
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<body>
    <header>
        QA Debugger Portal
    </header>
    <section>
        <div class="left pane">
            <div class="container">
                <div class="heading">
                    Question
                </div>
                <div class="body">
                    <textarea 
                        style="width: 100%;height: 150px;margin-bottom: 5px;font-size: 14pt;padding: 10px;" 
                        placeholder="Question Here.."
                        id="input_question">How to adjust the driver seat?</textarea>
                    <button id="input_submit">Submit</button>
                </div>
            </div>
            <div class="container">
                <div class="heading">
                    Recent Questions (in this session)
                </div>
                <div class="body histories" id="history_container"></div>
            </div>
        </div>
        <div class="right pane" id="qaworkspace"></div>
    </section>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</head>
</html>
